@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Inter Tight", sans-serif;
    box-sizing: border-box;
    transition: transform 0.4s ease-in-out;
}
main{
    margin-left: 280px;
}

.overview-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 90px;
}
.logo{
    width: 100px;
    border-radius: 20px;
}


.overview-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: .8rem;
    min-width: 300px;
    gap: .5rem;
    justify-content: flex-start;
    color: #9D9EA1;
}



.overview-type {
    display: flex;
    align-items: center;
    gap: .2rem;
    color: #9D9EA1;
    font-weight: 600;
    font-size: .8rem;
}

.overview-amount {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.overview-amount>.amount  {
    color: darkblue;
    font-size: 1.5rem;
    font-weight: 500;
}

.overview-amount>.percent {
    padding: .3rem;
    font-size: .6rem;
    border-radius: 1rem;
    font-weight: 700;
   
}

.overview-amount>.up {
    background-color: #E6F5EB;
    color: darkgreen;
}
.overview-amount>.down {
    background-color: #EE3B3B;
    color: white;
}

.overview-info>.up {
    color: darkgreen;
}

.overview-info>.down {
    color: red;
}

.overview-info> span {
    font-weight: 600;
    font-size: .8rem;
}

.nav-container {
    display: flex;
    background-color: white;
    max-width: 1500px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 1.3rem;
}

.nav-items {
    display: flex;
    align-items: center;
    flex-grow: 5;
    /* background-color: yellow; */
    justify-content: flex-end;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}

.user-info>.name-email {
    display: flex;
    flex-direction: column;
}

.bg-blue {
    color: darkblue;
    font-size: 1.5rem;
    font-weight: 600;
}

.search-inp {
    border: none;
    background-color: #F9F9FB;
    padding: 1rem;
    border-radius: .7rem;
    width: 100%;
    margin-right: 8rem;
}

.search-inp:focus {
    border: none;
}

.user-info>div>img {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

.name-email>.name {
    font-weight: 700;
    color: darkblue;
}

.name-email>.email {
    font-weight: 700;
    font-size: .7rem;
    color: #9D9EA1;
}

.dashboard {
    flex-grow: 1;
}

#notif {
    background-color: #F9F9FB;
    padding: .6rem;
    border-radius: .7rem;
    margin-left: 1rem;
}


.menu{
    margin-top: 40px;
    margin-left: 15px;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.sidebar .menu-title,
.sidebar .general-title {
    margin-bottom: 10px;
    font-weight: bold;
    color:rgb(46, 46, 46);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: gray;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.sidebar ul li a span {
    margin-left: 10px;
}

.sidebar .general{
    margin-top: 50px;
    margin-left: 15px;
}

.sidebar .logout { 
    margin-top: 180px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.sidebar .logout a {
    text-decoration: none;
    color: #3c8dbc;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.sidebar ul li a:hover {
    transform: scale(1.1);
    color:rgb(54, 11, 163);
}
.sidebar:hover{
    transform: scale(1.1);
    background-color: #e6f7ff;
}
.sidebar .logout a:hover{
    transform: scale(1.1);
    color:black;
}
.chart{
    display: flex;
    flex-direction: column;
    
}
.chart div:nth-of-type(3) img{
    width: 30vw;
}
.chart div:nth-of-type(2) img,.chart div:nth-of-type(1) img{
    width: 60vw;
}
.head{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    
}
.head a{
    padding-top: 25px;
    margin-right: 50px;
    
}

.table-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    width: 80%;
   
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    
}

th, td {
    padding: 10px;
    text-align: left;
    /* border-bottom: 1px solid #ddd; */
    
}

th {
    background-color: #7eccf0;
    text-align: center;
}

td {
    background-color: #e6f7ff;
    text-align: center;
    font-weight: 500;
    
}

tr td:nth-of-type(3){
    color:green;
}
tr td:nth-of-type(4){
    color:red;
}

.table-container:hover{
        transform: scale(1.03);
    }
.head a:hover{
    font-weight:600;
}
