@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Inter Tight',sans-serif;
}
.chart{
    display: flex;
    flex-direction: column;
    
}
.chart div:nth-of-type(3) img{
    width: 30vw;
}
.chart div:nth-of-type(2) img,.chart div:nth-of-type(1) img{
    width: 60vw;
}

